extends layout

block content
    
  .row.justify-content-center
    .col-sm-6
      legend New Gun
      form(action="/guns", method="POST")
        .form-group
            label Model
            input.form-control(name="model")
        .form-group
            label Firing Mode
            input.form-control(name="firingMode")
        .form-group
            label Caliber
            input.form-control(name="caliber")
        .form-group
            label Rectangular Image URL
            input.form-control(name="picUrl") 
        .form-group
            label Square Image URL
            input.form-control(name="picUrlSq")   
        .form-group
            label Description
            textarea.form-control(name="description")   
        button(type="submit").btn.btn-primary Save