extends layout

block content
    
  .row.justify-content-center
    .col-sm-6
      if error
        .alert.alert-danger(role="alert") #{error} is invalid.
      legend New Gun
      form(action="/guns", method="POST", enctype="multipart/form-data")
        .form-group
            label Model*
            input.form-control(name="model" required maxlength="25")
        .form-group
            label Firing Mode*
            select.form-control(name="firingMode" required)
              option(value="Single-shot") Single-shot
              option(value="Semi-automatic") Semi-automatic
              option(value="Automatic") Automatic
              option(value="Burst") Burst
        .form-group
            label Caliber*
            input.form-control(name="caliber" required maxlength="25")
        .form-group
            label Avatar*
            input.form-control(name="avatar" type="file" required)
        .form-group
            label Description*
            textarea.form-control(name="description" required maxlength="140")
        .form-group
            label Price*
            input.form-control(name="price" required type="number")
        button(type="submit").btn.btn-primary Save