extends layout

block content
    
  .row.justify-content-center
    .col-sm-6
      if error
        .alert.alert-danger(role="alert") #{error} is invalid.
      legend New Gun
      form(action="/guns", method="POST")
        .form-group
            label Model
            input.form-control(name="model" required maxlength="25")
        .form-group
            label Firing Mode
            input.form-control(name="firingMode" required maxlength="25")
        .form-group
            label Caliber
            input.form-control(name="caliber" required maxlength="25")
        .form-group
            label Rectangular Image URL
            input.form-control(name="picUrl" required type="url" maxlength="100")
        .form-group
            label Square Image URL
            input.form-control(name="picUrlSq" required type="url" maxlength="100")
        .form-group
            label Description
            textarea.form-control(name="description" required maxlength="140")
        .form-group
            label Price
            textarea.form-control(name="price" required type="number")
        button(type="submit").btn.btn-primary Save